@use 'sass:math';
@import './variables';
@function pxToRem($pxValue) {
  @return math.div($pxValue, 16px) * 1rem;
}

main {
  height: fit-content;
}

.filter-select {
  position: absolute;
  top: pxToRem(150px);
  left: pxToRem(200px);
  background-color: white;
  border-radius: pxToRem(10px);
  box-shadow:
    0 pxToRem(4px) pxToRem(6px) rgba(0, 0, 0, 0.2),
    0 pxToRem(4px) pxToRem(6px) rgba(0, 0, 0, 0.3);
  font-weight: 700;
  font-size: pxToRem(15px);

  letter-spacing: pxToRem(-0.25px);

  padding: pxToRem(10px);
}

.home-page {
  margin: 0 pxToRem(20px);
  height: 100vh;

  .subheading {
    display: flex;
    justify-content: space-between;

    .subheading-title {
      display: flex;
      flex-direction: column;

      h3 {
        font-weight: 700;
        font-size: pxToRem(24px);
        letter-spacing: pxToRem(-0.75px);
        line-height: normal;
      }

      p {
        color: $blue-grey;
        line-height: pxToRem(15px);
      }
    }

    .subheading-interact {
      display: flex;
      gap: pxToRem(10px);
      align-items: center;

      .filter-btn,
      .add-btn {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: pxToRem(10px);
      }

      .filter-btn {
        line-height: pxToRem(15px);
        letter-spacing: pxToRem(-0.25px);
        font-weight: 700;

        img.open {
          transform: rotateX(180deg);
        }
      }

      .add-btn {
        border: none;
        background-color: $dark-purple;
        color: white;
        height: pxToRem(45px);
        width: pxToRem(90px);
        border-radius: pxToRem(24px);
        gap: pxToRem(7px);
        font-weight: 700;
        line-height: pxToRem(15px);
        letter-spacing: pxToRem(-0.25px);
        font-size: pxToRem(15px);
        padding-right: pxToRem(10px);
        cursor: pointer;

        &:hover {
          background-color: aqua;
        }

        img {
          max-width: pxToRem(32px);
        }
      }
    }
  }

  .invoice-list {
    display: flex;
    flex-direction: column;
    gap: pxToRem(20px);
    margin-top: pxToRem(30px);
  }

  .default-message {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    img {
      padding: pxToRem(60px);
    }

    h3 {
      font-size: pxToRem(24px);
      font-weight: 700;
      letter-spacing: pxToRem(-0.75px);
      color: $almost-black;
      margin-bottom: pxToRem(15px);
    }

    p {
      font-size: pxToRem(13px);
      letter-spacing: pxToRem(-0.1px);
      color: $blue-grey;
      max-width: pxToRem(175px);
      line-height: pxToRem(15px);

      span {
        font-weight: 700;
      }
    }
  }
}
