@import './variables';
main{
    height: 100vh;
}



.home-page{
    margin: 0 20px;
    .subheading{
        display: flex;
        justify-content: space-between;

       
        .subheading-title{
            display:flex;
            flex-direction: column;
        
        h3{
            font-weight: 700; 
            font-size: 24px;
            letter-spacing: -0.75px;
            line-height: normal;
        }
        
        p{
            color: $blue-grey ;
            line-height: 15px;
        }
        
        }
        .subheading-interact{
            display: flex;
            gap: 10px;
            align-items: center;

                .filter-btn,
                .add-btn{
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    gap: 10px;
                }

                .filter-btn{
                    line-height: 15px;
                    letter-spacing: -0.25px;
                    font-weight: 700;

                    img.open{
                          transform: rotateX(180deg);  
                        }

                }

                .add-btn{
                    border: none;
                    background-color: $dark-purple;
                    color: white;
                    height: 45px;
                    width: 90px;
                    border-radius: 24px;
                    gap: 7px;
                    font-weight: 700;
                    line-height: 15px;
                    letter-spacing: -0.25;
                    font-size: 15px;
                    padding-right: 10px;
                    cursor: pointer;

                    &:hover{
                        background-color: aqua;
                    }


                    img{
                        max-width: 32px;
                    }
                }
        }
        .filter-select{
            background-color: black;
        }


    }
    
    .invoice-list{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .default-message{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

            img{
                padding: 60px;
            }

            h3{
               font-size: 24px;
               font-weight: 700;
               letter-spacing: -0.75px;
               color: $almost-black;
               margin-bottom: 15px;
            }

            p{
              font-size: 13px;
              letter-spacing: -0.1px;
              color: $blue-grey;
              max-width: 175px;
              line-height: 15px;


                span{
                    font-weight: 700;
                }
            }
    }
}