@import '../util';

@keyframes slideIn {
  0% {
    transform: translateX(-150%);
    box-shadow: -90px 10px 10px rgba(224, 0, 253, 0.1);
  }
  100% {
    transform: translateX(-2%);
    box-shadow: -1px 0px 960px rgba(0, 0, 0, 0.8);
  }
}

main {
  height: fit-content;
}

.home-page {
  margin: 0 auto;
  max-width: pxToRem(700px);
  padding-inline: pxToRem(25px);

  .subheading {
    display: flex;
    justify-content: space-between;

    .subheading-title {
      display: flex;
      flex-direction: column;

      h3 {
        font-weight: 700;
        font-size: pxToRem(24px);
        letter-spacing: pxToRem(-0.75px);
        line-height: normal;
      }

      p {
        color: $blue-grey;
        line-height: pxToRem(15px);
      }
    }

    .subheading-interact {
      display: flex;
      gap: pxToRem(20px);
      align-items: center;

      .filter-btn,
      .add-btn {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: pxToRem(10px);
      }

      .filter-btn {
        line-height: pxToRem(15px);
        letter-spacing: pxToRem(-0.25px);
        font-weight: 700;
        cursor: pointer;
      }

      .add-btn {
        border: none;
        background-color: $dark-purple;
        color: white;
        padding: pxToRem(6px) pxToRem(6px);
        border-radius: pxToRem(24px);
        gap: pxToRem(5px);
        font-weight: 700;
        line-height: pxToRem(15px);
        letter-spacing: pxToRem(-0.25px);
        font-size: pxToRem(15px);
        cursor: pointer;

        &:hover {
          background-color: hsl(252, 100%, 73%);
        }

        img {
          max-width: pxToRem(32px);
        }
      }
    }
  }

  .invoice-list {
    display: flex;
    flex-direction: column;
    gap: pxToRem(20px);
    margin-top: pxToRem(30px);
  }

  .default-message {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    img {
      padding: pxToRem(60px);
    }

    h3 {
      font-size: pxToRem(24px);
      font-weight: 700;
      letter-spacing: pxToRem(-0.75px);
      color: $almost-black;
      margin-bottom: pxToRem(15px);
    }

    p {
      font-size: pxToRem(13px);
      letter-spacing: pxToRem(-0.1px);
      color: $blue-grey;
      max-width: pxToRem(175px);
      line-height: pxToRem(15px);

      span {
        font-weight: 700;
      }
    }
  }
}

.add-modal {
  position: absolute;
  top: pxToRem(70px);
  left: 0;
  right: 0;
  background-color: white;
  padding-left: pxToRem(20px);

  h3 {
    font-weight: 700;
    font-size: pxToRem(24px);
    line-height: pxToRem(32px);
    letter-spacing: pxToRem(-0.5px);
    padding-bottom: pxToRem(20px);
    padding: pxToRem(30px) pxToRem(20px);
  }
}

.filter-select {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: pxToRem(150px);
  transform: translateX(-50%);
  gap: pxToRem(5px);
  border-radius: pxToRem(10px);
  background-color: rgba($color: #ffffff, $alpha: 1);
  box-shadow:
    0 pxToRem(4px) pxToRem(6px) rgba(0, 0, 0, 0.2),
    0 pxToRem(4px) pxToRem(6px) rgba(0, 0, 0, 0.3);
  font-weight: 700;
  font-size: pxToRem(15px);
  border: none;
  letter-spacing: pxToRem(-0.25px);
  padding: pxToRem(20px);
  z-index: 1;
}

@media (min-width: 768px) {
  .home-page {
    margin-top: pxToRem(100px);
    .subheading {
      .subheading-title {
        h3 {
          font-size: pxToRem(36px);
        }
      }
      .subheading-interact {
        .filter-btn {
          width: pxToRem(160px);
          gap: 0px;
        }
      }
    }
  }
  .filter-select {
    top: pxToRem(150px);
    transform: translateX(35%);
  }
}

@media (min-width: 1080px) {
  .add-modal {
    max-width: pxToRem(650px);
    top: 0;
    left: pxToRem(100px);
    border-radius: pxToRem(0px) pxToRem(20px) pxToRem(20px) pxToRem(0px);
  }
}

.loading-message p{
  padding: pxToRem(30px);
  line-height: 30px;
}
// Loading Circle!
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.spinner {
  width: 200px;
  height: 200px;
  border: 5px solid #c5adfc;
  border-top: 8px solid transparent;
  border-radius: 90%;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
