@import '../util';
// Styling for the invoice details
@keyframes slideIn {
  0% {
    transform: translateX(-150%);
    box-shadow: -90px 10px 10px rgba(224, 0, 253, 0.1);
  }
  100% {
    transform: translateX(-2%);
    box-shadow: -1px 0px 960px rgba(0, 0, 0, 0.8);
  }
}

.view-container {
  max-width: pxToRem(690px);
  margin: 0 auto;
  margin-inline: pxToRem(20px);

  .view-status {
    display: flex;
    align-items: center;
    background-color: white;
    color: $blue-grey;
    text-transform: capitalize;
    justify-content: space-between;
    padding: pxToRem(25px) pxToRem(25px);
    border-radius: pxToRem(8px);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  }

  .invoice-view {
    margin: pxToRem(20px) pxToRem(0px) pxToRem(50px) pxToRem(0px);
    border-radius: pxToRem(8px);
    background-color: white;
    padding: pxToRem(25px);
    display: flex;
    flex-direction: column;
    gap: pxToRem(20px);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);

    .invoice-description,
    .address-line,
    .title {
      color: $blue-grey;
      font-weight: 500;
      line-height: 20px;
      font-size: pxToRem(14px);
    }

    .invoice-description,
    .title {
      margin-bottom: pxToRem(5px);
    }

    .data {
      font-weight: 700;
    }

    .invoice-details {
      display: flex;
      gap: pxToRem(60px);

      .date-and-due {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .bill-to {
        margin-inline: auto;
      }
    }

    .invoice-details-items {
      background-color: hsl(240, 18%, 97%);
      border-radius: pxToRem(8px);

      .item {
        font-weight: 800;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: pxToRem(20px) pxToRem(25px);
        .item-name {
          line-height: pxToRem(15px);
          letter-spacing: pxToRem(-0.25px);
          margin-bottom: pxToRem(5px);
        }
        .item-quantity {
          color: $blue-grey;
        }
      }

      .total {
        background-color: hsl(231, 20%, 27%);
        border-radius: 0 0 pxToRem(8px) pxToRem(8px);
        color: white;
        display: flex;
        justify-content: space-between;
        padding: pxToRem(30px);
        align-items: center;

        .invoice-total {
          font-size: pxToRem(24px);
          font-weight: 800;
        }
      }
    }
  }
}

.back-btn {
  display: flex;
  align-items: baseline;
  justify-items: center;
  gap: pxToRem(10px);
  font-weight: 700;
  margin-bottom: pxToRem(25px);
}

.edit-modal {
  position: absolute;
  top: pxToRem(70px);
  background-color: white;
  width: 100%;
  animation: slideIn 1s ease forwards;
  padding-left: pxToRem(20px);

  h3 {
    font-weight: 700;
    font-size: pxToRem(24px);
    line-height: pxToRem(32px);
    letter-spacing: pxToRem(-0.5px);
    padding-bottom: pxToRem(20px);
    padding: pxToRem(30px) pxToRem(20px) 0 pxToRem(20px);

    span {
      color: $blue-grey;
    }
  }

  .edit-modal-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: pxToRem(20px);
  }

  .edit-modal-footer button:nth-of-type(1) {
    grid-column: 2;
  }

  .edit-modal-footer button:nth-of-type(2) {
    grid-column: 3;
  }

  button {
    margin-left: pxToRem(5px);
  }
}

.delete-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .delete-modal {
    background-color: white;
    padding: pxToRem(35px);
    margin-inline: pxToRem(25px);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: pxToRem(15px);

    h3 {
      font-weight: 700;
      font-size: pxToRem(24px);
      line-height: pxToRem(32px);
      letter-spacing: pxToRem(-0.5px);
    }

    p {
      font-weight: 500;
      font-size: pxToRem(13px);
      line-height: pxToRem(22px);
      color: $blue-grey;
    }

    .delete-wrapper {
      display: grid;
      grid-template-columns: 0.5fr 0.5fr 0.5fr;
      gap: pxToRem(10px);
    }
    .delete-wrapper button:nth-of-type(1) {
      grid-column: 2;
    }

    .delete-wrapper button:nth-of-type(2) {
      grid-column: 3;
    }
  }
}

.button-wrapper {
  display: grid;
  grid-template-columns: 0.5fr 0.8fr 0.8fr;
}

@media (min-width: 768px) {
  .view-container {
    margin: 0 auto;
    margin-top: pxToRem(100px);
    .invoice-view {
      display: grid;
      grid-template-columns: repeat(6, auto);
      grid-template-rows: repeat(3, auto);
      gap: pxToRem(20px) pxToRem(30px);
      grid-template-areas:
        'id_desc . . . . sender'
        'date_due . client . email .'
        'items items items items items items';
    }
    .view-status {
      display: grid;
      grid-template-columns: 0.25fr 1fr 1fr;
      .view-status-btns {
        display: flex;
        justify-content: space-between;
      }
    }
    .invoice-header {
      grid-area: id_desc;
    }

    .sender-address {
      grid-area: sender;
    }

    .email {
      grid-area: email;
    }

    .date-and-due {
      grid-area: date_due;
    
    }

    .bill-to {
      grid-area: client;
    }

    .invoice-details-items {
      grid-area: items;
    }

    .button-wrapper {
      grid-template-columns: 0.5fr 0.6fr 1fr;
      gap: pxToRem(5px);
    }
  }

  footer {
    display: none;
  }
}

@media (min-width: 1080px){
    .view-container{
      min-width: pxToRem(730px);
    }
    .invoice-details-table{
      width: 100%;
      padding-inline: pxToRem(20px);

      thead{
        text-align: left;
        font-size: pxToRem(13px);
        font-weight: 300;
        color: $blue-grey;        
      }

      th{
        padding: pxToRem(20px) pxToRem(0px) ;
      }

      th:nth-child(2){
        text-align: center;
      }
      th:nth-child(3){
        text-align: end;
      }
      th:nth-child(4){
        text-align: end;
      }

      td:nth-child(3){
        text-align: end;
        color: $blue-grey;
        font-weight: 600;
      }
      td:nth-child(4){
        text-align: end;
        font-weight: 600;
      }
      td:nth-child(2){
        text-align: center;
        color: $blue-grey;
      }

      td:nth-child(1){
        font-weight: 600;
      }

      td:nth-last-child(n){
        padding-bottom: pxToRem(25px);
      }

     

      

      

      
    }

    .subtitle{
      font-size: pxToRem(13px);
      font-weight: 300;
      color: $blue-grey;
    }

    .total{
      
      grid-area: amount;
    }

    .edit-modal {
      max-width: pxToRem(600px);
      top: 0;
      left: pxToRem(100px);
      border-radius: pxToRem(0px) pxToRem(20px) pxToRem(20px) pxToRem(0px);
    }
  }



 



