@import '../variables';

.invoice {
  background-color: #ffffff;
  max-width: 327px;
  height: 135px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px 20px;

  .customer-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .invoice-id {
      color: $blue-grey;
      font-size: 15px;
      font-weight: 700;
      letter-spacing: -0.25px;
      line-height: 25px;
      .id {
        color: $almost-black;
      }
    }

    .invoice-client {
      color: $blue-grey;
      font-size: 13px;
    }
  }
  .invoice-details {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .payment {
      display: flex;
      flex-direction: column;
      gap: 6px;
      .invoice-due {
        font-size: 13px;
        color: $blue-grey;
      }
      .invoice-total {
        font-weight: 700;
      }
    }

    .status {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      width: 105px;
      border-radius: 6px;
      padding: 12px 15px;

      .status-text {
        font-size: 15px;
        line-height: 15px;
        letter-spacing: -0.25px;
        font-weight: 700;
      }
    }
    // Light Themes
    .draft {
      background-color: hsla(0, 0%, 0%, 0.11);
      color: $navy-blue;

      svg {
        circle {
          fill: $navy-blue;
        }
      }
    }
    .paid {
      background-color: hsla(240, 25%, 97%, 0.247);
      color: hsla(0, 0%, 64%, 0.274);

      svg {
        circle {
          fill: hsla(0, 0%, 64%, 0.274);
        }
      }
    }
    .pending {
      background-color: hsla(34, 100%, 50%, 0.096);
      color: hsl(34, 100%, 50%);

      svg {
        circle {
          fill: hsl(34, 100%, 50%);
        }
      }
    }

    // Dark Themes
    // .draft{
    //     background-color: hsla(0, 0%, 0%, 0.11);
    //     color: $navy-blue ;

    //     svg{
    //         circle{
    //             fill: $navy-blue;
    //             }
    //         }
    //     }
    // .paid{
    //     background-color: hsla(240, 25%, 97%, 0.247);
    //     color: hsla(0, 0%, 64%, 0.274) ;

    //     svg{
    //         circle{
    //             fill: hsla(0, 0%, 64%, 0.274);
    //             }
    //         }
    //     }
    // .pending{
    //     background-color: hsla(34, 100%, 50%, 0.096);
    //     color: hsl(34, 100%, 50%) ;

    //     svg{
    //         circle{
    //             fill: hsl(34, 100%, 50%) ;
    //             }
    //         }
    //     }
  }
}
