@use 'sass:math';
@function pxToRem($pxValue) {
  @return math.div($pxValue, 16px) * 1rem;
}
.draft {
  background-color: hsla(0, 0%, 0%, 0.11);
  color: $navy-blue;

  svg {
    circle {
      fill: $navy-blue;
    }
  }
}
.paid {
  background-color: hsla(240, 25%, 97%, 0.247);
  color: hsla(0, 0%, 64%, 0.274);

  svg {
    circle {
      fill: hsla(0, 0%, 64%, 0.274);
    }
  }
}
.pending {
  background-color: hsla(34, 100%, 50%, 0.096);
  color: hsl(34, 100%, 50%);

  svg {
    circle {
      fill: hsl(34, 100%, 50%);
    }
  }
}
button {
  border: none;
  border-radius: pxToRem(24px);
  padding: pxToRem(10px) pxToRem(25px);
  font-weight: 500;
  letter-spacing: pxToRem(-0.25px);
  font-weight: 700;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button:hover {
  filter: brightness(1);
}

.variant-1 {
  color: $blue-grey;
  background-color: hsl(231, 67%, 99%);
}

.variant-2 {
  color: white;
  background-color: $red-orange;
}

.variant-3 {
  color: white;
  background-color: $dark-purple;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 105px;
  border-radius: 6px;
  padding: 12px 15px;

  .status-text {
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.25px;
    font-weight: 700;
  }
}

.view-container {
  margin-inline: pxToRem(25px);

  .back-btn {
    display: flex;
    align-items: baseline;
    justify-items: center;
    gap: pxToRem(10px);
    font-weight: 700;
    margin-bottom: pxToRem(25px);
  }

  .view-status {
    display: flex;
    align-items: center;
    background-color: white;
    color: $blue-grey;
    text-transform: capitalize;
    justify-content: space-between;
    padding: pxToRem(25px) pxToRem(25px);
    border-radius: pxToRem(8px);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  }

  .invoice-view {
    margin: pxToRem(20px) pxToRem(0px) pxToRem(50px) pxToRem(0px);
    border-radius: pxToRem(8px);
    background-color: white;
    padding: pxToRem(25px);
    display: flex;
    flex-direction: column;
    gap: pxToRem(20px);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);

    .invoice-description,
    .address-line,
    .title {
      color: $blue-grey;
      font-weight: 500;
      line-height: 20px;
      font-size: pxToRem(14px);
    }

    .invoice-description,
    .title {
      margin-bottom: pxToRem(5px);
    }

    .data {
      font-weight: 700;
    }

    .invoice-details {
      display: flex;
      gap: pxToRem(60px);

      .date-and-due {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    .invoice-items {
      background-color: hsl(231, 67%, 99%);
      border-radius: pxToRem(8px);

      .item {
        font-weight: 800;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: pxToRem(20px) pxToRem(25px);
        .item-name {
          line-height: pxToRem(15px);
          letter-spacing: pxToRem(-0.25px);
          margin-bottom: pxToRem(5px);
        }
        .item-quantity {
          color: $blue-grey;
        }
      }

      .total {
        background-color: hsl(231, 20%, 27%);
        border-radius: 0 0 pxToRem(8px) pxToRem(8px);
        color: white;
        display: flex;
        justify-content: space-between;
        padding: pxToRem(30px);
        align-items: center;

        .invoice-total {
          font-size: pxToRem(24px);
          font-weight: 800;
        }
      }
    }
  }
}

footer {
  div {
    background-color: white;
    padding: pxToRem(20px) pxToRem(15px);
    display: flex;
    justify-content: center;
    gap: pxToRem(10px);
  }
}
